.title {
  display: flex;
  justify-content: center;
  padding: 5rem 3rem;
}

.cardContainer {
  left: 35%;
  width: 35%;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 80%;
  padding-left: 5rem;
}

.top {

}

.left {

}

.right {

}

.bottom {

}